<div class="d-flex flex-column justify-content-center align-content-center">
<%= image_tag 'pp.png', class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.5rem" %>
<small style="overflow: hidden; text-overflow: elilipsis; white-space: nowrap; max-width: 3.5rem">simon philips</small>

</div>